@model PainAssessment.Areas.ModuleTwo.Models.Consultation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionNo" class="control-label"></label>
                <input asp-for="SessionNo" class="form-control" />
                <span asp-validation-for="SessionNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastVisit" class="control-label"></label>
                <input asp-for="LastVisit" class="form-control" />
                <span asp-validation-for="LastVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicalArea" class="control-label"></label>
                <input asp-for="ClinicalArea" class="form-control" />
                <span asp-validation-for="ClinicalArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CentralModulation" class="control-label"></label>
                <input asp-for="CentralModulation" class="form-control" />
                <span asp-validation-for="CentralModulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionalInfluence" class="control-label"></label>
                <input asp-for="RegionalInfluence" class="form-control" />
                <span asp-validation-for="RegionalInfluence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalStimulation" class="control-label"></label>
                <input asp-for="LocalStimulation" class="form-control" />
                <span asp-validation-for="LocalStimulation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
