
@model PainAssessment.Areas.ModuleTwo.Models.Checklist

@{ ViewData["Title"] = "DeleteTemplateChecklist"; }


<div class="row">
    <div class="col sm-1 mb-3">
        <a class="btn btn-light border border-dark" style="float:left;" asp-action="Index">Back</a>
    </div>
    <div class="col lg-10">
        <h2 class="font-weight-bold fs-4 text">Delete</h2>
    </div>
    <div class="col sm-1"></div>
</div>

<hr />
<div class="row">
    <div class="col-md-12 border border-dark rounded-lg">

        <form id="ChecklistForm" asp-action="DeleteTemplateChecklist">
            <input type="hidden" asp-for="ChecklistId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistName" class="control-label">Checklist Name</label>
                <input asp-for="ChecklistName" name="ChecklistName" class="form-control" readonly />
            </div>
            <div class="form-group mt-2">
                <label asp-for="PractitionerId" class="control-label">Created By</label>
                <input asp-for="PractitionerId" class="form-control" readonly />
            </div>
            <div class="form-group mt-2">
                <label asp-for="SessionId" class="control-label">Session</label>
                <input asp-for="SessionId" name="SessionId" class="form-control" readonly />
            </div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistDescription" class="control-label">Checklist Description</label>
                <input asp-for="ChecklistDescription" name="ChecklistDescription" class="form-control" readonly />

            </div>
            <div class="form-group mt-2">
                <div class="form-check">

                    <input asp-for="Active" class="form-check-input" type="checkbox" readonly>
                    <label asp-for="Active" class="form-check-label">Active</label>
                </div>
            </div>

                @for (int i = 0; i < Model.Central.Count; i++)
                {
                           
                            <input type="hidden" asp-for="@Model.Central[i].IsCentralDeleted" />
                                   
                }
            <input type="hidden" id="hiddenCentralLast" value="0" />

          
                        @for (int i = 0; i < Model.Regional.Count; i++)
                        {
                       
                                    <input type="hidden" asp-for="@Model.Regional[i].IsRegionalDeleted" />
                            
                        }
          

            <input type="hidden" id="hiddenRegionalLast" value="0" />

         
                        @for (int i = 0; i < Model.Local.Count; i++)
                        {


                            <input type="hidden" asp-for="@Model.Regional[i].IsRegionalDeleted" />
                        }
                  
            <div class="form-group">
                <input type="submit" value="Confirm Delete" class="btn btn-primary" />
            </div>
            <input type="hidden" id="hiddenLocaLast" value="0" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

