@using PainAssessment.Areas.ModuleTwo.Services
@using System.Collections.ObjectModel
@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Checklist>

@{
    ViewData["Title"] = "View Template Checklist";
}

<div class="text-center">
    <h1 class="display-4">Admin Template checklist </h1>
</div>

<div class="text-center">
    <div>
        <div class="accordion md-accordion accordion-blocks" id="accordionDCL" role="tablist"
             aria-multiselectable="false">
            <!-- Accordion card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="cMATableHeading">
                    <!--Options-->

                </div>
                <table>

                    <tr>


                        <th class="th-lg"><a>Checklist Name<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Default Selection<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg" colspan="2"><a>Action<i class="fas fa-sort ml-1"></i></a></th>

                    </tr>
                    <!--for loop here to display all the checklist -->
                    <tr>


                        <td class="th-lg"><a>Checklist 1</a></td>
                        <td class="th-lg"><a style="color:lightgreen;"></a></td>
                        <td class="th-lg">
                            <a asp-controller="Home" asp-action="ManageTemplateChecklist">Edit Questions</a>
                        </td>
                        <!--check if true dun display the selected button
                        <td class="th-lg"><a>Select as Default</a></td>-->

                    </tr>
                    <tr>

                        <td class="th-lg"><a>Checklist 2<i class="fas fa-sort ml-1"></i></a></td>
                        <td class="th-lg"><a style="color:red;">False<i class="fas fa-sort ml-1"></i></a></td>
                        <td class="th-lg">
                            <a asp-controller="Home" asp-action="ManageTemplateChecklist">Edit Questions</a>
                        </td>
                        <!--check if true dun display the selected button-->
                        <td class="th-lg"><a asp-controller="Home" asp-action="ManageTemplateChecklist">Select as Default</a></td>

                    </tr>

                </table>

            </div>
        </div>


